@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <CENTER>
        <h1><b>RESTORAN ŠVABO</b> </h1>
        <p class="lead"><H2>RADNO VRIJEME</H2></p>

        <h5>
            <p>
                PON - ČET</br>
                09:00 - 22:00
            </p>
            <p>PET 09:00 - 00:00</p>
            <p>SUB 09:00 - 01:00</p>
            <p>NED 09:00 - 18:00</p>
        </h5>
        </CENTER>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 class="desno">REZERVACIJA</h2>
        <hr style="height:3px;border-width:0;color:black;background-color:black">
        <center>
            <b>
            <p>
                Želite si rezervirati stol? Primamo rezervacije do 8 osoba.
            </p>
            <p> PRIMAMO SAMO 1.6.2024.  </p>
                </b>
        </center>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Stol</th>
                    <th>Dostupnost</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Stol 1 (2)</td>
                    <td style="color: green;">Dostupan</td>
                </tr>
                <tr>
                    <td>Stol 2 (2)</td>
                    <td style="color: red;">Nedostupan</td>
                </tr>
                <tr>
                    <td>Stol 3 (4)</td>
                    <td style="color: red;">Nedostupan</td>
                </tr>
                <tr>
                    <td>Stol 4 (4)</td>
                    <td style="color: green;">Dostupan</td>
                </tr>
                <tr>
                    <td>Stol 5 (4)</td>
                    <td style="color: red;">Nedostupan</td>
                <tr>
                    <td>Stol 6 (4)</td>
                    <td style="color: green;">Dostupan</td>
                <tr>
                    <td>Stol 7 (6)</td>
                    <td style="color: green;">Dostupan</td>
                </tr>
                <tr>
                    <td>Stol 8 (8)</td>
                    <td style="color: green;">Dostupan</td>
                </tr>
                <tr>
                    <td>Stol 9 (10)</td>
                    <td style="color: red;">Nedostupan</td>
                </tr>
                </tr>
                </tr>
                
                <tr>
                    <td>Stol 10 (10)</td>
                    <td style="color: red;">Nedostupan</td>
                </tr>
            </tbody>
        </table>

        
    </div>
    <div class="col-md-4">
        <center>
            <h2>CJENIK</h2>
            <hr style="height:3px;border-width:0;color:black;background-color:black">
            <h5>
                <b>
                    --------------------------------</br>
                    |   <h4><b> CJENIK PIĆA I HRANE</b></h4>      |</br>
                    --------------------------------</br>
                     <h4><b>Pića: </b></h4>                       </br>
                    |  - Kava: 2 €                - |</br></br>
                    |  - Čaj: 1,5 €                 - |</br></br>
                    |  - Sok: 3 €               - |</br></br>
                    |  - Pivo (0,5 l): 2,4 €       - |</br></br>
                    |  - Vino (0,2 l): 2,7 €       - |</br></br>
                    |  - Šampanjac: 9 €          - |</br></br>
                    </br></br>
                      <h4><b>Hrana:  </b></h4>                     </br>
                    |  - Pizza Margherita: 10 €   - |</br></br>
                    |  - Sendvič s pršutom: 5 €  - |</br></br>
                    |  - Rižoto s plodovima mora: 12 €  - |</br></br>
                    |  - Tiramisu: 8 €           - |</br></br>
                    |  - Čokoladna torta: 22 €    - |</br></br>
                    |  - Voćna salata: 15 €       - |</br></br>
                    |  - Roštilj: 128 €    - |</br></br>
                    </br></br>
                   
</b>
            </h5>
        </center>
        <hr style="height:3px;border-width:0;color:black;background-color:black">
    </div>


  
    <div class="col-md-4">
        <h2 class="desno">NARUDŽBE</h2>
        <hr style="height:3px;border-width:0;color:black;background-color:black">
        <center>
            <p>Primamo narudžbe unutar 7 km</p>

            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13087.006836722514!2d16.42149098392829!3d46.4050050584813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2shr!4v1716738873111!5m2!1sen!2shr" width="300" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </br></br>
            <p><a class="btn btn-default" href="https://localhost:44321/Narudzbe/Create">Naruči</a></p>
        </center>
    </div>


    

</div>
